<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
  <nav>
    <div class="wrapper">
      <div class="logo"><a href="#">COMPANY TITLE</a></div>
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li>
          <a href="#" class="desktop-item">Work Place</a>          
          <ul class="drop-menu">
            <li><a href="#">Dropdown1</a></li>
            <li><a href="#">Dropdown2</a></li>
            <li><a href="#">Dropdown3</a></li>
            <li><a href="#">Dropdown4</a></li>
          </ul>
        </li>
        <li><a href="#">Settings</a></li>
      </ul>
    </div>
  </nav>

  

</body>
</html>
