/** @format */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.btnSignIn {
	position: relative;
	display: inline-block;
	padding: 25px 45px;
	text-decoration: none;
	font-size: 23px;
	color: rgba(255, 255, 255, 0.4);
	background: #222127;
	letter-spacing: 2px;
	font-size: 16px;
	transition: 0.5s;
}

.btnSignIn:hover {
	color: rgba(255, 255, 255, 1);
}

.btnSignIn span {
	display: block;
	position: absolute;
	background: #9cd4ff;
}

.btnSignIn span:nth-child(1) {
	left: 0;
	bottom: 0;
	width: 1px;
	height: 100%;
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 0.5s;
}

.btnSignIn:hover span:nth-child(1) {
	transform: scaleY(1);
	transform-origin: bottom;
	transition: transform 0.5s;
}

.btnSignIn span:nth-child(2) {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.5s;
}

.btnSignIn:hover span:nth-child(2) {
	transform: scaleX(1);
	transform-origin: left;
	transition: transform 0.5s;
}

.btnSignIn span:nth-child(3) {
	right: 0;
	bottom: 0;
	width: 1px;
	height: 100%;
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 0.5s;
	transition-delay: 0.5s;
}

.btnSignIn:hover span:nth-child(3) {
	transform: scaleY(1);
	transform-origin: bottom;
	transition: transform 0.5s;
	transition-delay: 0.5s;
}

.btnSignIn span:nth-child(4) {
	left: 0;
	top: 0;
	width: 100%;
	height: 1px;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.5s;
	transition-delay: 0.5s;
}

.btnSignIn:hover span:nth-child(4) {
	transform: scaleX(1);
	transform-origin: left;
	transition: transform 0.5s;
	transition-delay: 0.5s;
}
