/** @format */

.container {
	position: absolute;
	top: 1082px;
	left: 114px;
	width: 90%;
	height: 80vh;
	overflow: hidden;
	margin-bottom: 100px;
}

.banner1 .banner2 .banner3 .banner4 {
	height: 200px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.img1 {
	width: 105%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-51%, -60%);
}

.img2 {
	width: 125%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-51%, -60%);
}

.img3 {
	width: 105%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-51%, -60%);
}

.img4 {
	width: 103%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-49%, -60%);
}

.text-box {
	width: 600px;
	position: absolute;
	top: 140px;
	left: 100px;
	padding: 20px;
	color: #222127;
	background: rgba(255, 255, 255, 0.7);
	animation: textUp 20s linear infinite;
	transform: translateY(20px);
}

.text-box h1 {
	margin-bottom: 20px;
	font-weight: bold;
}

.text-box p {
	font-size: 20px;
	line-height: 18px;
	margin-top: 50px;
	color: #222127;
	font-weight: bold;
}

.text-box span {
	background: #9cd4ff;
	height: 2px;
	width: 100px;
	position: absolute;
	left: 15px;
}

.banner1 {
	animation: slide1 20s linear infinite;
}

.banner2 {
	animation: slide2 20s linear infinite;
}

.banner3 {
	animation: slide3 20s linear infinite;
}

.banner4 {
	animation: slide4 20s linear infinite;
}

@keyframes slide1 {
	0% {
		visibility: visible;
	}

	25% {
		visibility: hidden;
	}

	50% {
		visibility: hidden;
	}

	75% {
		visibility: hidden;
	}

	100% {
		visibility: visible;
	}
}

@keyframes slide2 {
	0% {
		visibility: hidden;
	}

	25% {
		visibility: hidden;
	}

	50% {
		visibility: visible;
	}

	75% {
		visibility: hidden;
	}

	100% {
		visibility: hidden;
	}
}

@keyframes slide3 {
	0% {
		visibility: hidden;
	}

	25% {
		visibility: hidden;
	}

	50% {
		visibility: hidden;
	}

	75% {
		visibility: visible;
	}

	100% {
		visibility: hidden;
	}
}

@keyframes slide4 {
	0% {
		visibility: hidden;
	}

	25% {
		visibility: hidden;
	}

	50% {
		visibility: hidden;
	}

	75% {
		visibility: hidden;
	}

	100% {
		visibility: visible;
	}
}

@keyframes textUp {
	10% {
		transform: translateY(0px);
	}

	100% {
		transform: translateY(0px);
	}
}

.text-box1 {
	animation-delay: 0s;
}

.text-box2 {
	animation-delay: 5s;
}

.text-box3 {
	animation-delay: 10s;
}

.text-box4 {
	animation-delay: 15s;
}
